<header class="jumbotron">
  <h1 align="center">Welcome To TodoList</h1>
</header>

<main>
  <article>
    <section>Routing in Angular allows the users to create a single-page application with multiple views and allows
      navigation between them without reloading the entire page</section>

    <br>
    <section>Lazy loading is a technique in which the browser loads only the necessary modules according to the
      requirements. we can also call it On-Demand loading.
      It is used for bigger applications where all the modules are not required at the start of the application
    </section>
    <br>
    <section>
      Angular Services are methods that are triggered when we want to perform a certain operation in an Angular
      Application. In our case, they are the methods that will perform CRUD Operations. In other words, we will have a
      service that will Create data in the database. Just like that, we will have difference services for Reading Data
      from the server, Updating data in the server, as well as deleting data
    </section>
    <br>
    <section>
      CRUD refers to the four basic operations a software application should be able to perform Create, Read, Update,
      and Delete.In such apps, users must be able to create data, have access to the data in the UI by reading the
      data,
      update or edit the data, and delete the data.CRUD apps consist of 3 parts: an API (or server), a database, and a
      user interface (UI).

    </section>
    <br>
    <section>
      The API contains the code and methods, the database stores and helps the user retrieve the information, while
      the
      user interface helps users interact with the app

    </section> <br>
  </article>
</main>